<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8"/>
    <title>Hello Adonis</title>

    @!section('viewauth')
    {{ style('css/style') }}
    {{ style('vendor/bootstrap-4.4.1-dist/css/bootstrap.min.css') }}
    {{ style('vendor/owl-carousel/assets/owl.carousel.min.css') }}
    {{ style('vendor/owl-carousel/assets/owl.theme.default.css') }}
    {{ style('vendor/fontawesome/css/all.min.css') }}
    {{ script('vendor/jquery-3.5.1.min.js') }}
    @!section('style')
</head>
<body>
<header>
    {{ csrfField() }}
    <div class="header-top container justify-content-between d-flex">
        <div class="logo d-flex py-3 pl-2">
            <a href="/"><img class="align-self-center" src="{{ assetsUrl('images/default-logo.png') }}"></a>
        </div>
        <div class="d-flex search-main-header">
            {{--            <form class="form-inline">--}}
            {{--                <div class="input-group">--}}
            {{--                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">--}}
            {{--                    <div class="input-group-prepend">--}}
            {{--                        <span class="input-group-text" id="basic-addon1">@</span>--}}
            {{--                    </div>--}}
            {{--                </div>--}}
            {{--            </form>--}}
        </div>
        <div class="d-flex align-self-center user-info">
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto justify-content-between m-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tiếng anh mầm non</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tiếng anh phổ thông</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tiếng anh cho người lớn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kỹ năng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Học qua video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Học và chơi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div id="main-content">
    <div class="container pb-4">
        @!section('content')
    </div>
</div>
<footer class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="col-inner" style="padding:0px 10px 0px 10px;margin:0px 10px 0px 0px;">
                    <h4><strong>CÔNG TY TNHH TM VÀ DỊCH VỤ NGỌC THÁI</strong></h4>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>Địa chỉ: 135 - 137 Trường Chinh - Phương Liệt
                        -
                        Thanh Xuân - Hà Nội</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i>Điện thoại:
                        <strong>0977.33.90.94&nbsp;(Ms.Linh)</strong></p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i>Email: tuvan.ngocthai@gmail.com</p>
                    <p><i class="fa fa-globe" aria-hidden="true"></i>Website: <a href="http://tamlop.flcdaily.com/">http://tamlop.flcdaily.com/<span
                                    style="font-size: 14.4px;">&nbsp;</span></a></p>
                    <p><i class="fa fa-clock-o" aria-hidden="true"></i>Giờ làm việc: Các ngày trong tuần, 8:00 đến 16:00
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="col-inner" style="padding:0px 10px 0px 10px;">
                    <h4><strong>LIÊN KẾT HỮU ÍCH</strong></h4>
                    <ul>
                        <li>Hướng dẫn mua hàng</li>
                        <li>Chính sách &amp; Quy định chung</li>
                        <li>Chính sách bảo hành</li>
                        <li>Chính sách đổi trả</li>
                        <li>Tuyển dụng</li>
                    </ul>
                    <h4><strong>LIÊN KẾT MẠNG XÃ HỘI</strong></h4>
                </div>
            </div>
            <div class="col-4">
                <div class="col-inner">
                    <div class="form-contact-footer">
                        <form action="/#wpcf7-f75-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="75">
                                <input type="hidden" name="_wpcf7_version" value="5.1.7">
                                <input type="hidden" name="_wpcf7_locale" value="vi">
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f75-o1">
                                <input type="hidden" name="_wpcf7_container_post" value="0">
                            </div>
                            <div class="form-submit-footer">
                                <div class="row row-collapse">
                                    <h4 class="text-center">ĐĂNG KÝ MUA SP/GIA CÔNG</h4>
                                </div>
                                <div class="row row-collapse">
                                    <div class="block-call-footer">
                                        <div class="block-call-footer-icon"><i class="fas fa-phone"></i></div>
                                        <div class="block-call-footer-text">
                                            <p>Để được tư vấn, gọi ngay:</p>
                                            <p><a href="tel:0123.456.789">0123.456.789</a>
                                            </p></div>
                                    </div>
                                </div>
                                <div class="row row-collapse">
                                    <div class="col medium-6 small-12 large-6"
                                         style="padding-right: 10px !important;"><span
                                                class="wpcf7-form-control-wrap your-name"><input type="text"
                                                                                                 name="your-name"
                                                                                                 value=""
                                                                                                 size="40"
                                                                                                 class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                                 aria-required="true"
                                                                                                 aria-invalid="false"
                                                                                                 placeholder="Họ và tên"></span>
                                    </div>
                                    <div class="col medium-6 small-12 large-6"><span
                                                class="wpcf7-form-control-wrap tel-6"><input type="tel" name="tel-6"
                                                                                             value="" size="40"
                                                                                             class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                                                                                             aria-required="true"
                                                                                             aria-invalid="false"
                                                                                             placeholder="Điện thoại"></span>
                                    </div>
                                </div>
                                <div class="row row-collapse"><span class="wpcf7-form-control-wrap your-email"><input
                                                type="email" name="your-email" value="" size="40"
                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                aria-required="true" aria-invalid="false" placeholder="Email"></span>
                                </div>
                                <div class="row row-collapse "><input type="submit" value="Đăng ký ngay"
                                                                      class="wpcf7-form-control wpcf7-submit"><span
                                            class="ajax-loader"></span></div>
                            </div>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
{{ script('vendor/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js') }}
{{ script('vendor/owl-carousel/owl.carousel.min.js') }}
{{ script('js/main.js') }}

@!section('script')
</body>
</html>
